@charset "UTF-8"

* { 
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to right, #FF8C64, #FF665A);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #4d424d9e;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #7D6B7D;
    text-align: center;
    text-shadow: 1px 1px 2px #4d424d9e;
}

h2 {
    color: #A3A1A8;
}

p {
    text-align: justify;
}